# Entorno virtual
.venv/
venv/
env/

# Archivos de chat y datos sensibles
*.txt
!requirements.txt
Chat*.txt

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Archivos de ambiente
.env
.env.*

# Archivos temporales
*.log
*.tmp 